* {
    margin: 0;
    padding: 0;
}
.main {
    width: 100%;
    max-width: 768px;
    height: 100vh;
    margin: 0 auto;
    background-color: rgba(122, 32, 122, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.label {
    display: none;
}
.heading-container {
    width: 40%;
    height: 15%;
    background-color: transparent;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container {
    width: 100%;
    height: 85%;
    background-color: transparent;
}
.heading {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-weight: normal;
}
.container {
    width: 80%;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.fname, .lname, .Email, .password, .Cpassword {
    margin-bottom: 25px;
}
.input {
    width: 90%;
    height: 45px;
    padding-left: 40px; 
    border: 1px solid #eee;  
}

.icon {
    position: absolute;
    top: 30%;
    left: 10px;
    font-size: 20px;
    color: rgb(46, 44, 44);
}
.btn-container {
    width: 70%;
    height: 45px;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    background-color: white;
    color: black;
    padding: 10px 150px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}
    
